# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.env/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Cache
cache/
*.cache

# IDE
.vscode/
.idea/

# PyInstaller
*.spec.bak

# Logs
*.log
lisflood-manual-v5.9.6.pdf

# Large sample input data (too big for GitHub)
ARC-Curve2Flood_input_formats/DEM_projected/DEM.tif
ARC-Curve2Flood_input_formats/DEM_projected/DEM.tif.aux.xml
